<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Bereitschaften">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>COSMO Bereitschaften</title>
    
    <link rel="apple-touch-icon" href="/standby-touch-icon.png">
    <link rel="stylesheet" href="/standby.css" type="text/css" media="screen">

  </head>
  <body>
    <header>
      <h1>COSMO Bereitschaften</h1>
    </header>

    <main>
      <%= yield %>
    </main>
    
    <footer>
      <div>
        <h3>Wochentags</h3>
        <dl>
          <dt>Fr체h:</dt><dd>08:00 &ndash; 10:00 Uhr</dd>
          <dt>Sp채t:</dt><dd>17:00 &ndash; 19:00 Uhr</dd>
        </dl>
      </div>
      <div>
        <h3>Samstags</h3>
        <dl>
          <dt>Fr체h:</dt><dd>10:00 &ndash; 13:00 Uhr</dd>
          <dt>Sp채t:</dt><dd>13:00 &ndash; 16:00 Uhr</dd>
        </dl>
      </div>
    </footer>

  </body>
</html>