<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Bereitschaften">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>COSMO Bereitschaften</title>
    
    <!--link rel="apple-touch-icon" href="/standby-touch-icon.png"-->
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="COSMO Bereitschaften" />
	<link rel="manifest" href="/site.webmanifest" />
	
    <link rel="stylesheet" href="/standby.css" type="text/css" media="screen">

    <script type="text/javascript">
        (function(document,navigator,standalone) {
            // prevents links from apps from oppening in mobile safari
            // this javascript must be the first script in your <head>
            if ((standalone in navigator) && navigator[standalone]) {
                var curnode, location=document.location, stop=/^(a|html)$/i;
                document.addEventListener('click', function(e) {
                    curnode=e.target;
                    while (!(stop).test(curnode.nodeName)) {
                        curnode=curnode.parentNode;
                    }
                    // Condidions to do this only on links to your own app
                    // if you want all links, use if('href' in curnode) instead.
                    if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
                        e.preventDefault();
                        location.href = curnode.href;
                    }
                },false);
            }
        })(document,window.navigator,'standalone');
    </script>
  </head>
  <body>
    <header>
      <h1>COSMO Bereitschaften</h1>
    </header>

    <main>
      <%= yield %>
    </main>
    
    <footer>
      <div>
        <h3>Wochentags</h3>
        <dl>
          <dt>Fr체h:</dt><dd>08:00 &ndash; 10:00 Uhr</dd>
          <dt>Sp채t:</dt><dd>17:00 &ndash; 19:00 Uhr</dd>
        </dl>
      </div>
      <div>
        <h3>Samstags</h3>
        <dl>
          <dt>Fr체h:</dt><dd>10:00 &ndash; 13:00 Uhr</dd>
          <dt>Sp채t:</dt><dd>13:00 &ndash; 16:00 Uhr</dd>
        </dl>
      </div>
    </footer>

  </body>
</html>