<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COSMO Bereitschaften</title>
    <style type="text/css" media="screen">
      body, th, td, button {
        font-family: IBM Plex Sans, Source Pro Sans, "system-ui", Avenir, Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      a {
        color: #f33;
        text-decoration:none;
      }
      a:hover {
        color: #c00;
      }
      h1 {
        font-size: 1.5rem;
        font-weight: 300;   
      }
      h2 {
        font-size: 1.25rem;
        font-weight: 600;
      }
      h2 a {
        display:inline-block;
        padding: 0 3rem;
        font-weight:normal;
      }
      
      
      header, footer, main {
        text-align:center;
      }
      footer {
        padding: 1rem;
      }
       
      main {
        background: #f0f0f0;
        border: solid #333;
        border-width: 3px 0;
      }
      
      table {
        background: #fff;
        border-collapse: collapse;
        border: solid #d0d0d0;
        border-width: 2px 0;
        width: 100%;
        margin: 0 auto;
      }
      table tr {
        border: solid #e0e0e0;
        border-width: 1px 0;
      }
      table th { 
        padding: 0.25rem 1rem;
        font-size: 1.5rem;
        text-align: center;
      }
      table th small {
        display: block;
        text-transform: uppercase;
        font-size: 0.6rem;
        font-weight: normal;
      }
      table td { 
        padding: 0;
        vertical-align:middle;
      }
      table td label {
        display:block;
        padding: 1rem 2rem;
      }
      table .wday-0,
      table .wday-6 { background: #f0f0f0; }
      table .wday-0 th { color: #999;}
      
      
      dl {
        display: inline-block;
        min-width: 100px;
      }
      dl dt {
        font-weight: bold;
        display:inline;
        margin-right: 1rem;
      }
      dl dd {
        display: inline;
        margin: 0;
      }
      dl dd:after{
        display: block;
        content: '';
      }

      
      button {
        padding: 1rem 3rem;
        margin: 2rem 0;
        font-size: 1.25rem;
        background-color: #fff;
        border: 3px solid #f33;
        color: #f33;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.2s ease;
      }
      button:hover {
        color: #fff;
        background-color: #f33;
      }
      
      @media (min-width: 30rem) {
        table {
          width: 30rem;
          border-width: 2px;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1>COSMO Bereitschaften</h1>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <h3>Wochentags</h3>
      <dl>
        <dt>Fr체h:</dt><dd>08:00 &ndash; 10:00 Uhr</dd>
        <dt>Sp채t:</dt><dd>17:00 &ndash; 19:00 Uhr</dd>
      </dl>
      <h3>Samstags</h3>
      <dl>
        <dt>Fr체h:</dt><dd>10:00 &ndash; 13:00 Uhr</dd>
        <dt>Sp채t:</dt><dd>13:00 &ndash; 16:00 Uhr</dd>
      </dl>
    </footer>
  </body>
</html>